body {
    background-color:rgb(243, 240, 237);      
}
font {
    color: "#99000";    
}
table, th, td {
    border: 1px solid black;
}
table {
    border: 1;
    padding: 1;
    border-spacing: 1;
    border-collapse: collapse;
}
th {
    font: bold;
}
tr {
    background-color: white;
    align-content: center;
}
tr.Error {
    background-color: red;
    align-content: center;
}
td {
    align-content: center;   
}
h1 {
    align-content: center;
    font-style: italic;
}
.banner-content {
    text-align: center;
    font-size: large;
    font-style: italic;
    background-color: maroon;
    color: white;
}
.error-content {
    text-align: left;
    font-size: medium;
    font-style: normal;
    background-color: rgb(247, 107, 107);
    color: white;
}

